/* COMMON SHARED STYLES */
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.txt-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
background: #FD6E0A;
border: none;
padding: 10px 15px;
margin-right: 15px;
}
.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-descripton{
color:  #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
}
/* NAV RELATED STYLES */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color:#474747;
font-size: 20px;
font-weight: 400;
}
.nav-title{
    color:  #181818;
    font-size: 45px;
    font-weight: 800;
}
/* HEADER RELATED STYLES */
.header{
    background: #FFF8F3;
    background-image: url(/portfolio-resources-main/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 700px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
font-size: 45px;
color: #474747;
font-weight: 600px;
margin-bottom: 0px;
}
.banner-title{
font-size: 75px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 10px;
}
.banner-description{
    margin-bottom: 10px;
}
/* MAIN SECTION STYLES */
main{
    max-width: 11140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}


/* ABOUT SECTION STYLES */
.about{
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 230px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 25px 330px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
    padding: 0 200px;
    }
.skill-description{
  color: #757575;
}
.skill{
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* RESUME SECTION STYLES */
.resume-container{
    display: flex;
gap: 50px;
padding:10px 180px;
margin-top: 50px;
}
.resume-colum-title{
    color:  #474747;
font-size: 30px;
font-weight: 700;
}
.resume-container hr {
    margin: 30px;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}
/* FOOTER STYLES */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.social-link a{
    margin-right: 24px;
}
.footer-colum{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    background: #FFF;
    border: 0;
    border-radius: 5px;
    width: 100%;
}